fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-dotenv
pydantic
pydantic-settings
python-multipart
PyJWT
passlib
bcrypt
Pillow
opencv-python-headless
ultralytics
boto3
pytest
httpx
apscheduler